body.dark {
    background: #333;
}

body.dark h1 {
    color: #fff;
}

body.dark h2 {
    color: #fff
}

body.dark h3 {
    color: #fff; }



    body.dark li {
        color: #fff;
    }

    body.dark p {
        color: #fff;
    }

    body.dark h4 {
        color: #fff;
    }

    a{
        color: #fff;
    }